* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


nav  {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding: 5px;
  color: lightblue;
}
nav div {
  display: flex;
}
nav div li {
  list-style: none;
  padding: 7px;
}

img {
  width: 15rem;
  height: 17rem;
  border-radius: 15px 15px 0 0;
}
.citylist{
  margin: 3% 7%;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap-reverse;
}
.city-div div {
  border-radius: 15px 15px 0 0;
  background-color: rgb(231, 236, 241);
  padding-bottom: 25px;
  margin: 10px;
  width: 15rem;

}
.city-div div li {
  list-style: none;
  font-weight: bold;
}
.city-div div h3 {
  font-family:'Lucida Sans';
  color:rgb(77, 150, 223); 
}
.delete {
  position: absolute;
  margin-left: 14rem;
  margin-top: 5px;
  cursor: pointer;
}
